{% extends 'base.html'%} {%block title%}Banele{%endblock%} {%block content%}

<h1>Welcome to Banele's website</h1>
<img src="{{url_for('static', filename='/images/me.png')}}" alt="me" />
<div class="socials">
  <a href="https://www.facebook.com/banele.mvelase.31" 
    ><img
      src="{{url_for('static', filename='/images/facebook.png')}}"
      alt="facebook"
  /></a>
  <a href="https://instagram.com/banele3803?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
    ><img src="{{url_for('static', filename='/images/instagram.png')}}" alt="insta"
  /></a>
  <a href="https://twitter.com/BaneleM06781721"
    ><img
      src="{{url_for('static', filename='/images/twitter.png')}}"
      alt="twitter"
  /></a>
  <a href="https://www.linkedin.com/in/banele-mthembu-b4a2a221b/"
    ><img
      src="{{url_for('static', filename='/images/linkedin.png')}}"
      alt="linkein"
  /></a>
  <a href="https://github.com/BANELE-MTHEMBU"
    ><img
      src="{{url_for('static', filename='/images/github.png')}}"
      alt="github"
  /></a>
</div>

<div class="about">
  <h1>About me.</h1>
  <p>
    I am an open-minded and ambitious individual with a strong passion for technology. 
    I am deeply interested in the fields of software development and astrophysics. 
    I thrive on the challenges and possibilities that arise from these areas, 
    constantly seeking opportunities to expand my knowledge and skills. 
    My enthusiasm for technology fuels my drive to excel in software development, 
    while my fascination with astrophysics motivates me to explore the mysteries of the universe. 
    I am committed to continuous learning and growth, 
    always seeking to stay abreast of the latest advancements in these dynamic fields. I studied Bachelor of Science in Mathematics, Physics & Computer Science, at the moment I am a
    --Master of science candidate at the University of KwaZulu-Natal--under the National Astrophysics and Space Science Programme (NASSP). 

  </p>
</div>
{%endblock%}
